In [46]:
from plotnine import *
import pandas as pd
import os

directory = "/Users/florianraths/Code/Arduino-Sketches/.vscode/log_serial"

In [47]:
# Function to extract the timestamp from the filename
def extract_timestamp(filename):
    # Assuming the timestamp format is "_YYYY_MM_DD.HH.MM.SS.MS.txt"
    parts = filename.rsplit('_', 1)
    if len(parts) == 2:
        timestamp_str = parts[1].rsplit('.', 1)[0]
        return timestamp_str

In [48]:
# Get a list of all files in the directory
files = os.listdir(directory)

# Filter files that have the expected timestamp format
timestamped_files = [filename for filename in files if extract_timestamp(filename) is not None]

# Sort the timestamped files based on their timestamps (newest first)
timestamped_files.sort(key=lambda x: extract_timestamp(x), reverse=True)

# Get the newest file
newest_file = timestamped_files[0]

# Print the name of the newest file
print(f"The newest file is: {newest_file}")

The newest file is: devttyusbmodem1401_2023_10_28.20.38.51.748.txt

In [49]:
df = pd.read_csv(directory + '/' + newest_file)
df

     36  27  12   9  25  30  36.1  47  30.1  36.2  53  51  39  Unnamed: 13
0    36  26  11   9  25  30    36  47    30    36  53  51  39          NaN
1    36  26  11   9  24  30    36  47    30    36  53  51  40          NaN
2    36  26  11   9  25  30    36  47    32    36  53  51  40          NaN
3    36  26  11   9  25  30    36  47    32    36  53  51  39          NaN
4    34  25  10   9  25  30    36  49    32    37  53  51  39          NaN
..   ..  ..  ..  ..  ..  ..   ...  ..   ...   ...  ..  ..  ..          ...
232  34  24  20  28  27  40    51  60    58    58  62  55  41          NaN
233  34  24  20  28  28  40    53  60    58    58  62  55  43          NaN
234  32  23  19  28  28  41    53  60    58    56  62  54  43          NaN
235  32  22  19  30  28  41    53  60    58    56  62  53  41          NaN
236  32  22  18  30  30  43    53  60    58    56  60  53  40          NaN

[237 rows x 14 columns]